	*{margin:0; padding:0;box-sizing: border-box;}
	.col-1 {width: 8.33%;float:left;}
	.col-2 {width: 16.66%;float:left;}
	.col-3 {width: 25%;float:left;}
	.col-4 {width: 33.33%;float:left;}
	.col-5 {width: 41.66%;float:left;}
	.col-6 {width: 50%;float:left;}
	.col-7 {width: 58.33%;float:left;}
	.col-8 {width: 66.66%;float:left;}
	.col-9 {width: 75%;float:left;}
	.col-10 {width: 83.33%;float:left;}
	.col-11 {width: 91.66%;float:left;}
	.col-12 {width: 100%;}
	body{font-family:ubuntu, sans-serif, arial; color:#4C4C4C; font-size:14px;}
	ul{list-style-type:none}
	a{text-decoration:none}
	hr{width:80%; margin:0 auto; opacity:0.7}
	.wrapper{width:90%; margin:0 auto}
	.top-bar{background-color:#194769; }
	.top-bar i{color:#fff; padding:10px 15px; }
	.header{background-color:#EEEEEE;}
	.brand{float:left}

/* Navigation bar star*/
	.nav{float:left}
	.nav ul{margin-top:30px; text-align:right}
	.nav ul li{display:inline; padding:10px 15px}
	.nav ul li a{color:#194769; font-weight:700; font-size:16px}
/* Navigation bar End */
	.slider{position:relative}
	.slider img{width:100%}
	.slider-content{position:absolute; top:50%; left: 20px}
	.slider-content h2{font-size:2.5em; color:#fff; text-shadow:2px 1px 2px #363636; }

/* Section Part star*/
	.section-main{}
	.section{margin:20px 0}
	.left-aside, .right-aside{}
	.middle{ }
	.left-aside h3{padding-bottom:20px;}
	.left-aside ul li{padding:10px 15px}
	.left-aside ul li a{color:#194769; font-size:15px}
	
	.middle_one{margin-bottom:10px}
	
	.middle_two{margin-top:10px}
	.middle_image, .middle_content{}
	
	.middle_content p{padding-right:30px; text-align:justify}
	.middle_content button {margin-top:30px;padding:10px;background-color:#0C0C0C; text-align:justify;}
	.middle_content button a{color:#fff;}
	.right-aside ul li{padding:10px 15px; color:#194769; font-size:15px}
	.clearfix{clear:left;}
/* Section Part End*/
	.footer{ margin-top:20px; background-color:#3a3a3a; height:100px}
	
	.footer_one, .footer_two, .footer_three, .footer_four{color:#B8BBBB;padding:5px 5px;}
	.footer_one p{padding-left:5px; text-align:justify}
	.footer_two a{color:#BEC6C6; font-size:15px}
	.footer_three a{color:#BEC6C6; font-size:15px}
	.footer_four i {float:left;padding:10px;color:#fff}
	.copy_rights{background-color:#194769;color:#fff;height:40px;}
	.copy_rights p{padding:10px 10px;text-align:center }
	
/* Media Queries start from here */	
	@media only screen and (max-width:560px){
    .brand{width:100%;clear:left;}
	.nav{width:100%;clear:left;}
	.nav ul{margin-bottom:10px; text-align:left}
	.nav ul li{display:inline; padding:10px 15px}
	.nav ul li a{color:#194769; font-weight:700; font-size:12px}
	.slider{position:relative}
	.slider img{width:100%}
	.slider-content{position:absolute; top:30%; left: 20px}
	.slider-content h2{font-size:1em; color:#f0f; text-shadow:2px 1px 2px #363636; }
	.left-aside, .right-aside{width:100%; float:left; }
	.middle{width:100%; float:left; }
	.middle_image, .middle_content{width:100%; float:left}
	.right-aside{margin-top:10px;}
	.footer{ margin-top:20px; background-color:#3a3a3a; height:330px}	
	.footer_one, .footer_two, .footer_three, .footer_four{width:100%; clear:left;color:#B8BBBB;padding:10px 15px;}
	.copy_rights{background-color:#194769;color:#fff;height:40px;}
	.copy_rights p{padding:10px 10px; text-align:center}
  }
/* about us page css properties */
	.aboutus img{width:100%}
	.article_heading{position:relative;left:100px;color:#3CB64A;font-size:2em;font-family:narrower;}
	.asection-main hr{position:relative;top:5px;left:-153px;opacity:0.4;width:56%}
	.section_maindiv{width:90%;margin-left:9%;height:300px;}
	.article_one{width:65%;float:left;border:2 px solid blue;margin-top:20px;margin-right:20px;}
	.article_two{width:32%;float:left;border:2px solid #E4E4E4;margin-top:25px;}
	.article_one h4{color:#5DBABB;line-height:26px;padding:10px 3px 10px;font-size:16px;}
	.article_one h2{font-size:20px;}
	.article_one ul{list-style-type:disc;padding-left:23px;line-height:26px;}
	.article_two h1{color:#3CB64A;font-family:narrower;font-size:24px;}
	.article_two ul{list-style-type:none;line-height:27px;margin-top:20px;}
	.article_two ul li:before {content: '✓' ;font-size:20px;font-weight:500;padding-left:20px;}
/* migration */
	header{{background-color:#EEEEEE;height:70px;}
	footer{margin-top:20px; background-color:#3a3a3a; height:100px}

	